<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

<material name="white">
    <color rgba="1 1 1 1"/>
</material>


<xacro:macro name="segment" params="id baselink">

    <link name="segment_${id}">
        <visual>
            <geometry>
                <cylinder length="0.025" radius="0.15"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>

    <joint name="segment_${id}_joint" type="fixed">
        <parent link="${baselink}"/>
        <child link="segment_${id}"/>
    </joint>

</xacro:macro>

</robot>